#chart {
    height: 350px;
}
#chart1 {
    height: 350px;
}
#gridContainer {
    height: 440px;
}
 .container-fluid {
    margin-top: 3% !important;
}
.options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
.main .container-fluid {
    margin-top: 35px !important;
}
.margin_bottom{
    margin-bottom: 35px !important;
}
.margin_top_35{
    margin-top:35px !important;
}
.main {
    margin-top: 35px !important;
}
.page_header_div{
    margin-top: 0.3%;margin-left:1%;
}
.app-footer {
    background: #717171 !important;
}
.dx-datagrid .dx-header-filter-empty {
    color: #fff !important;
}
.card-header {
    padding: 5px 0px 0px 15px !important;
    margin-bottom: 0;
    background-color: #8c8c8c !important;
    border-bottom: 1px solid #c8ced3;
    color: #fff;
}
.caption {
    font-size: 18px;
    font-weight: 500;
}
.option {
    margin-top: 10px;
}
.option > span {
    margin-right: 10px;
}
.option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
}
.nav-link {
    display: block;
    padding: 0rem 0rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #50aff073;
    border-bottom: 0px solid #c8ced3;
}
.indexdiv{
    padding: 15px 0px 15px 17px;
    /* background: #fff; */
    /* margin-bottom: 15px; */
    /* border: 1px solid #0c73cc; */
    /* margin-left: 15px;*/
}
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    text-align: end;
}
.card {
    margin-bottom: 1rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.datadiv{
    background-color: #8c8c8c;
    margin-bottom: 5px;
    padding-bottom: 7px;
    padding-top: 5px;
    font-weight: 700;
    font-size: 17px;
    border-bottom: 1px solid #c8ced3;
    color: #fff;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #23282c;
    margin-left: 0px;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #091727;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #091727;
}
.btn-info {
    color: #fff;
    background-color: #06268d;
    border-color: #63c2de;
    width:35px;
}
.btn-danger1 {
    width:36px;
}
@media screen and (max-width: 767px) {
    .col-form-label {

        text-align: left;
    }
}
@media screen and (orientation: landscape) {


    .table {
       width: 95.5% !important;
       margin-bottom: 1rem;
       color: #23282c;
       margin-left: 10px;
    }
}
    /* .sidebar {

        padding: 0;
        color: #fff;
        background: #51b1f059 !important;
    } */
.navbar1{
    background: #fff !important;
}
.navbar{
    background: #eb7375 !important;
}
.header-fixed .app-body {
    margin-top: 73px !important;
}
.sidebar_div{
    margin-top:2.1%;
    height:570px !important;
}

a:hover {
    text-decoration: none !important;
} 
.dx-datagrid-search-panel {
    margin-top: -12px !important;
}
.dx-datagrid-header-panel .dx-toolbar {
    padding-bottom: 10px !important;
}
.dx-datagrid .dx-link {
    color: #fff !important;
}
.sidebar {
    background: #8c8c8c !important;
}
.app-header .navbar-brand {
    background-color: #fff !important;
    height: 75px !important;
}
.sidebar .nav-link .nav-icon {
    color: #fff !important;
        
}
.sidebar .nav-link.active {
    background: #4040405c !important;
}
.sidebar .nav-link:hover {
    background: #4040405c !important;
}
.header-fixed .app-header1 {
    padding-bottom: 74px;
}
.header-fixed .app-header {
  
    height: 30px !important;
}
.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #fff;
    color:#000;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#fff;
    color:#000;
}
.dropdown-menu a{
    color:#000;
}
    /* .navbar .nav-item .nav-link{
        color:#eee !important;

    } */
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;

}
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 0px;
}
.mb-2, .my-2{
    color:#fff;
    padding-top: 9px;

}
.header-fixed .app-body {
    margin-top:0px;
}
.dx-datagrid-headers {
    color: #fff;
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
    background: #8c8c8c;;
}
.breadcrumb{
    margin-bottom: 0.5rem;
}
.dx-datagrid-content .dx-datagrid-table tbody tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.05);
}
.footerdiv{
    background: #105fc8;
    width: 76%;
    padding: 6px;
    border-top-right-radius: 80px 57px;
    margin-left: -15px;
    margin-top: 23px;
    color: #fff;
    font-size: 15px;
    padding-left: 40px;
}
/*# sourceMappingURL=allcss.css.map */